<script src="/assets/js/insert.js"></script>

<section class="section container">
    <div class="level">
        <div class="level-left">
            <h1 class="title level-item">Inserir</h1>
        </div>
        <div class="level-right">
            <a href="/" class="button level-item is-warning">Voltar</a>
        </div>
    </div>
    <form>
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Sobrenome</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>
        <button class="button is-primary is-fullwidth" type="button" onclick="insert()">Cadastrar</button>
    </form>
</section>